# Node.js dependencies
frontend/node_modules/

#Products gallery
backend/static/media/product_gallery/

# Python dependencies
venv/
/**/__pycache__/

# Environment files
*.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Ignore SQLite database
*.sqlite3

# Temporary files
*.swp
.vscode/
